*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* O 1rem, define o tamanho padrao da fonte que a pessoa define no navegador */
  --font-family: 'Poppins', sans-serif;
  --text: 400 1rem/1.5 var(--font-family);
  --text-sm: 400 1rem/1.5 var(--font-family);

  --text-primary: #292524;
  --text-secondary: #57534E;
  --text-tertiary:#8F8881;
  --text-highlights: #E43A12;

  --surface-primary:#FFFFFF;
  --surface-secondary:#FEE7D6;

  --stroke-default:#D6D3D1;
  --stroke-highlight:#F3541C;
  --semantic-error:#DC2626;
  
}

body{
  /* overflow hidden é para não ter a barra de rolagem ao lado */
  overflow: hidden;

  font: var(--text);
  color: var(--text-secondary);
}

h1,h2{ 
  color: var(--text-primary)
  
}

img{
  /* bom deixar setado ja antes */
  max-width: 100%;
  height: auto;
}