#app {
  display: grid;
  /* Grid template colums deixa em forma de coluna */
  grid-template-columns: 51.25% 48.75%;

  height: 100vh;
  overflow: hidden;
}

main {
  overflow: auto;
  /* nesse caso o padding da pagina era 64, e o rem foi calculado na divisao do
  64 por 16, resultando em 4 */
  padding: 4rem;
}

main .main-container {
  max-width: 33rem;
  margin-left: auto;

  
}

aside {
  background-color: var(--surface-secondary);
  padding: 4rem;
}
aside .aside-container {
  /* width e a largura */
  max-width: 31rem;

  & > img {
    /* margin top espaca pra cima, bottom e pra baixo */
    margin-top: 2rem;
  }
}

.aside-container span {
  color: var(--text-highlight);
 
}

.back {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-bottom: 1.5rem;

}


h1 {
  /* 600 deixa ela semibold */
  font: 600 1.5rem/1.25 var(--font-family);
  margin-bottom: .5rem;
}

h2 {
  font: 600 2.5rem/1.25 var(--font-family);
  margin-bottom: 0.5rem;
}

